<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embed Metabase Dashboards</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
            flex-direction: row;
        }
        iframe {
            border: none;
            width: 800px;
            height: 600px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <!-- Primer dashboard -->
    <iframe src="{{ iframe_url_1 }}" frameborder="0" allowtransparency="true"></iframe>

    <!-- Segundo dashboard -->
    <iframe src="{{ iframe_url_2 }}" frameborder="0" allowtransparency="true"></iframe>
</body>
</html>
